/* Trust Section Logos
---------------------------------------------------------------------------- */
.section-trust .trust-row .col {
    -moz-opacity: 1;
    opacity: 1;
}

/* Hero Section Form Trust Logos
---------------------------------------------------------------------------- */
.section-hero .form-wrapper .border-wrapper .quickform .form-trust {
    -moz-opacity: 1;
    opacity: 1;
}

/* Bootstrap Media Queries
---------------------------------------------------------------------------- */

/* Large Desktop
--------------------------------------------- */
@media (min-width: 1200px) {}

/* Small Desktop
--------------------------------------------- */
@media (min-width: 992px) {}

/* Tablet
--------------------------------------------- */
@media (min-width: 768px) {}

/* Phablet
--------------------------------------------- */
@media (min-width: 576px) {}


/* Webflow Media Queries
---------------------------------------------------------------------------- */

/* Tablet
--------------------------------------------- */
@media (min-width: 991px) {}

/* Phablet
--------------------------------------------- */
@media (min-width: 767px) {}

/* Phone
--------------------------------------------- */
@media (min-width: 479px) {}

/* Change Sticky Form Placeholder Font Color
--------------------------------------------- */

.sticky-nav .stickyform form .form-group input::placeholder {
    color: #;
}

/* Change Sticky Form Font Color in Dropdown / Select Box
--------------------------------------------- */

.sticky-nav .stickyform form .form-group select {
    color: #;
}
